body {
  font-family: 'Yusei Magic', sans-serif;
  background-color: #111;
  background: url(./public/bg1jpg.jpg) center/cover fixed;
  color: #fff;
}

.game-bg {
  margin-left: 10rem;
  margin-top: 6rem;
}

h1 {
  color: #ecd44d;
  font-size: 32px;
  margin-top: 50px;
}

p {
  font-size: 18px;
}

#game {
  margin-top: 30px;
}

#guess {
  font-size: 24px;
  margin-bottom: 20px;
  color: #2dd8e4;
}

#buttons {
  margin-top: 10px;
}

button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2dd8e4;
  box-shadow: 2px 2px 24px 0px #2dd8e4c7;
  color: #212121;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #2dd8e4d2;
}
